.feed{
    /* flex:5.5; */
    /* flex-grow: 8; */
    width: 75%;
}
.feedWrapper{
    padding: 20px;
    height: 100vh;
  
    overflow-y: scroll;
}

@media screen and (max-width:767px) {
   .feed{
    flex: 8;
   }
}
