.followButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
    margin-left: 50%;
    translate: -50%;
  }
  
  .followButton:hover {
    background-color: #0056b3;
  }
  