.jobs {
    padding: 20px;
    flex: 9;
  }
  .jobMainContainer{
    display: flex;
  }
  
  .jobList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
    height: calc(100vh - 100px);
  }
  
  .jobItem {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .jobHeader {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .companyLogo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .jobItem h3 {
    font-size: 1.5rem;
    color: #007bff;
  }
  
  .companyName,
  .location {
    font-size: 1rem;
    color: #333;
  }
  
  .jobDescription {
    font-size: 0.9rem;
    color: #555;
    margin-top: 10px;
  }
  
  .applyButton {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .applyButton:hover {
    background-color: #218838;
  }
  
  @media screen and (max-width: 768px) {
    .jobItem {
      padding: 15px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .jobItem h3 {
      font-size: 1.2rem;
    }
  
    .companyName,
    .location {
      font-size: 0.9rem;
    }
  
    .jobDescription {
      font-size: 0.8rem;
    }
  
    .applyButton {
      font-size: 0.9rem;
      padding: 8px 16px;
    }
  }
  