*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

body{
  scrollbar-width: 0;
  scrollbar-width: none;
  /* overflow: hidden; */
  width: 100vw;
  height: 100vh;
}

#root{
  width: 100vw;
}


/* Hide scrollbar for all browsers */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  display: none;
}

::-webkit-scrollbar-track {
  display: none;
}

/* Firefox scrollbar */
html {
  scrollbar-width: none;  /* Firefox */
}

/* For Edge and Chrome */

